<footer
  class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top border-dark"
>
  <p class="col-md-4 mb-0 text-muted">© 2024 Actividad 6</p>

   <a class="navbar-brand col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none" [routerLink]="['/home']" >
      
      <img src="/assets/logo.svg" alt="Logo" height="30" class="d-inline-block align-text-top">
      Gestor de Usuarios
    </a>

  <ul class="nav col-md-4 justify-content-end">
    <a class="nav-link text-muted" [routerLink]="['/new-user']" routerLinkActivate="active">Nuevo usuario</a>
  </ul>
</footer>
