<nav class="navbar sticky-top navbar-expand-lg navbar-light border-bottom border-dark mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/home']" >
      
      <img src="/assets/logo.svg" alt="Logo" height="30" class="d-inline-block align-text-top">
      Gestor de Usuarios
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/new-user']" routerLinkActivate="active">Nuevo usuario</a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>