<app-navbar></app-navbar>
<nav aria-label="breadcrumb" class="px-5">
  <button type="button" class="btn text-secondary" [routerLink]="['/home']">
   <i class="fa-solid fa-arrow-left"></i> Volver al listado
  </button>
</nav>

<main class="container row p-5">
  <div class="col">
    <img [src]="USER.image" [alt]="'Foto de perfil de ' + USER.username" />
  </div>
  <div class="col">
    <h1>{{ USER.first_name }} {{ USER.last_name }}</h1>
    <p><strong>Nombre de usuario:</strong> {{ USER.username }}</p>
    <p><strong>Email:</strong> {{ USER.email }}</p>

    <div class="d-flex justify-content-start gap-3">
      <app-update-btn [updateThis]="USER"></app-update-btn>
      <app-delete-btn [deleteThis]="USER" />
    </div>
  </div>
</main>
<app-footer></app-footer>
