<app-navbar />
<main class="container">
  <div class="row gy-2 gx-2">
    @for (user of USERS; track user._id) {
    <div class="col col-sm-6 col-md-4 col-xl-3">
      <div class="card overflow-hidden p-2 text-center h-100">
        <app-user-card [myUser]="user" class="h-100 d-flex flex-column justify-content-between"></app-user-card>
      </div>
    </div>
    }@empty {
    <h1>No hay usuarios</h1>
    }
  </div>
  <div class="row my-5">
    <div class="d-flex gap-2 justify-content-center">
      @for (page of PAGES; track $index) {
      <button class="btn btn-outline-secondary fs-5" (click)="moveToPage(page)">
        {{ page }}
      </button>
      }
    </div>
  </div>
</main>
